# rootCA.csr.cnf
[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=US
ST=Minnesota
L=Minneapolis
O=Chelli Miller
OU=Web Projects
emailAddress=contact@chellimiller.com
CN = localhost
